### Project 3 (DATA MINING)

In [1]:
# Data Preprocessing:
import pandas as pd
df = pd.read_excel('Market_data.xlsx')
df

,BillNo,Itemname,customer_id,email,cost,state
0,2515,Pizza,Runolfsson,Thomas19@gmail.com,$123.86,Michigan
1,2515,Cocacola,Runolfsson,Thomas19@gmail.com,$45.16,Michigan
2,2515,Burger,Runolfsson,Thomas19@gmail.com,$179.99,Michigan
3,2515,Cocacola,Runolfsson,Thomas19@gmail.com,$116.43,Michigan
4,2515,Fries,Runolfsson,Thomas19@gmail.com,$147.70,Michigan
...,...,...,...,...,...,...
495,3007,Nuggets,Effertz,Edmund.Effertz8@gmail.com,$80.91,Virginia
496,3007,Fish,Quigley,Burgerolyn.Quigley49@gmail.com,$164.61,Wyoming
497,3007,Burger,Nolan,Kathy.Nolan8@yahoo.com,$95.91,Arkansas
498,3007,Cocacola,Bins,Clifford_Bins98@gmail.com,$87.87,Georgia
499,3007,Fries,Hoppe,Lucy.Hoppe17@gmail.com,$195.87,Texas

In [2]:
# Slice Column

columns_to_slice = ['BillNo', 'Itemname']
sliced_df = df[columns_to_slice]
sliced_df.head(10)

   BillNo  Itemname
0    2515     Pizza
1    2515  Cocacola
2    2515    Burger
3    2515  Cocacola
4    2515     Fries
5    2515  Chowmein
6    2515   Nuggets
7    2515     Pizza
8    2523  Cocacola
9    2523     Fries

In [3]:
columns_to_slice = ['BillNo', 'Itemname']
sliced_df = df[columns_to_slice]

# Create a dictionary to store items for each BillNo
bill_items = {}

# Process the data and populate the dictionary
for index, row in sliced_df.iterrows():
    BillNo = row['BillNo']
    Itemname = row['Itemname']
    
    if BillNo in bill_items:
        bill_items[BillNo].append(Itemname)
    else:
        bill_items[BillNo] = [Itemname]

# Convert the dictionary values to sets
result = {BillNo: set(Itemname) for BillNo, Itemname in bill_items.items()}

# Print the result
for BillNo, Itemname in result.items():
    print(f"{BillNo}\t\t{Itemname}")

2515		{'Burger', 'Pizza', 'Fries', 'Chowmein', 'Nuggets', 'Cocacola'}
2523		{'Chicken', 'Burger', 'Beer', 'Fries', 'Nuggets', 'Cocacola'}
2532		{'Chicken', 'Burger', 'Pizza', 'Soup', 'Fries', 'Cocacola'}
2545		{'Fish', 'Fried_Rice', 'Kabab', 'Tuna', 'Burger', 'Pizza', 'Cheese', 'Fries', 'Chowmein', 'Beer', 'Cocacola'}
2563		{'Fried_Rice', 'Tuna', 'Burger', 'Pizza', 'Fries', 'Chowmein', 'Cocacola', 'Thickburger'}
2584		{'Kabab', 'Burger', 'Salad', 'Soup', 'Fries', 'Chowmein', 'Cocacola', 'Thickburger'}
2597		{'Fries', 'Burger', 'Thickburger', 'Cocacola'}
2606		{'Fish', 'Fried_Rice', 'Tuna', 'Burger', 'Pizza', 'Soup', 'Fries', 'Chowmein', 'Cocacola'}
2622		{'Fish', 'Fried_Rice', 'Kabab', 'Chicken', 'Burger', 'Beer', 'Fries', 'Nuggets', 'Cocacola', 'Thickburger'}
2640		{'Fish', 'Fries', 'Cocacola', 'Burger'}
2645		{'Burger', 'Cheese', 'Salad', 'Pizza', 'Fries', 'Chowmein', 'Cocacola', 'Thickburger'}
2656		{'Fried_Rice', 'Kabab', 'Tuna', 'Chicken', 'Burger', 'Cheese', 'Salad', 'Pizza', 'Fries', 'Chowmein', 'Nuggets', 'Cocacola', 'Thickburger'}
2687		{'Kabab', 'Tuna', 'Burger', 'Salad', 'Fries', 'Chowmein', 'Cocacola', 'Sausages'}
2701		{'Burger', 'Fries', 'Cheese', 'Cocacola'}
2707		{'Fish', 'Fried_Rice', 'Kabab', 'Burger', 'Cheese', 'Salad', 'Fries', 'Nuggets', 'Thickburger'}
2716		{'Fries', 'Cocacola', 'Burger', 'Soup'}
2721		{'Fries'}
2722		{'Pizza'}
2723		{'Burger'}
2724		{'Cocacola'}
2725		{'Kabab', 'Burger', 'Cheese', 'Fries', 'Chowmein', 'Thickburger'}
2730		{'Chicken', 'Burger', 'Pizza', 'Fries', 'Cocacola'}
2737		{'Cocacola'}
2738		{'Burger'}
2739		{'Burger', 'Fries', 'Chowmein', 'Beer', 'Cocacola'}
2746		{'Pizza'}
2747		{'Burger', 'Cocacola', 'Salad', 'Tuna'}
2753		{'Fries'}
2754		{'Fried_Rice', 'Burger', 'Salad', 'Fries', 'Cocacola', 'Thickburger'}
2761		{'Fries'}
2762		{'Chicken'}
2763		{'Kabab', 'Burger', 'Cheese', 'Fries', 'Chowmein', 'Cocacola'}
2772		{'Burger'}
2773		{'Thickburger'}
2774		{'Chicken', 'Burger', 'Soup', 'Fries', 'Thickburger'}
2783		{'Cocacola'}
2784		{'Kabab', 'Burger', 'Cheese', 'Fries', 'Cocacola', 'Thickburger', 'Sausages'}
2796		{'Fries'}
2797		{'Pizza'}
2798		{'Fish', 'Tuna', 'Burger', 'Salad', 'Fries', 'Chowmein', 'Cocacola'}
2807		{'Tuna'}
2808		{'Fried_Rice'}
2809		{'Sausages'}
2810		{'Fish', 'Burger', 'Fries', 'Chowmein', 'Cocacola', 'Thickburger', 'Sausages'}
2823		{'Pizza'}
2824		{'Burger', 'Cheese', 'Fries', 'Chowmein', 'Cocacola'}
2830		{'Cocacola'}
2831		{'Tuna', 'Burger', 'Cheese', 'Soup', 'Thickburger'}
2837		{'Fried_Rice'}
2838		{'Fish', 'Fried_Rice', 'Burger', 'Salad', 'Fries', 'Chowmein', 'Cocacola', 'Sausages'}
2848		{'Fish', 'Fried_Rice', 'Burger', 'Cheese', 'Fries', 'Chowmein', 'Thickburger'}
2859		{'Fried_Rice'}
2860		{'Tuna', 'Burger', 'Salad', 'Fries', 'Cocacola'}
2868		{'Burger'}
2869		{'Thickburger'}
2870		{'Pizza'}
2871		{'Tuna', 'Chicken', 'Burger', 'Cheese', 'Fries', 'Cocacola', 'Thickburger'}
2882		{'Burger'}
2883		{'Cocacola'}
2884		{'Fries'}
2885		{'Burger', 'Salad', 'Soup', 'Fries', 'Cocacola'}
2897		{'Thickburger'}
2898		{'Fish'}
2899		{'Burger'}
2900		{'Thickburger'}
2901		{'Soup'}
2902		{'Burger'}
2903		{'Cocacola'}
2904		{'Pizza'}
2905		{'Fish', 'Burger', 'Cheese', 'Soup', 'Fries', 'Cocacola', 'Thickburger'}
2916		{'Burger'}
2917		{'Thickburger'}
2918		{'Kabab', 'Burger', 'Soup', 'Fries', 'Beer', 'Cocacola'}
2929		{'Thickburger'}
2930		{'Cheese'}
2931		{'Chowmein'}
2932		{'Fish', 'Burger', 'Pizza', 'Salad', 'Fries', 'Cocacola', 'Thickburger'}
2944		{'Cocacola'}
2945		{'Pizza'}
2946		{'Sausages'}
2947		{'Kabab'}
2948		{'Nuggets'}
2949		{'Tuna', 'Cheese', 'Salad', 'Chowmein', 'Beer', 'Thickburger'}
2956		{'Salad'}
2957		{'Burger'}
2958		{'Cocacola'}
2959		{'Thickburger'}
2960		{'Fish', 'Burger', 'Pizza', 'Salad', 'Fries', 'Cocacola'}
2967		{'Fried_Rice'}
2968		{'Salad'}
2969		{'Thickburger'}
2970		{'Burger'}
2971		{'Burger'}
2972		{'Cocacola'}
2973		{'Nuggets'}
2974		{'Burger'}
2975		{'Nuggets'}
2976		{'Chowmein'}
2977		{'Burger'}
2978		{'Kabab', 'Burger', 'Cheese', 'Pizza', 'Fries', 'Cocacola'}
2985		{'Cocacola'}
2986		{'Chowmein'}
2987		{'Tuna', 'Burger', 'Pizza', 'Fries', 'Nuggets', 'Cocacola', 'Thickburger'}
2996		{'Chowmein'}
2997		{'Tuna'}
2998		{'Burger'}
2999		{'Kabab', 'Cheese', 'Soup', 'Fries', 'Cocacola', 'Sausages'}
3006		{'Sausages'}
3007		{'Fish', 'Chicken', 'Burger', 'Fries', 'Nuggets', 'Cocacola'}

In [4]:
# Create a new DataFrame from the result
result_df = pd.DataFrame(list(result.items()), columns=['BillNo', 'Itemname'])

# Print the result DataFrame
print(result_df)

     BillNo                                           Itemname
0      2515  {Burger, Pizza, Fries, Chowmein, Nuggets, Coca...
1      2523  {Chicken, Burger, Beer, Fries, Nuggets, Cocacola}
2      2532    {Chicken, Burger, Pizza, Soup, Fries, Cocacola}
3      2545  {Fish, Fried_Rice, Kabab, Tuna, Burger, Pizza,...
4      2563  {Fried_Rice, Tuna, Burger, Pizza, Fries, Chowm...
..      ...                                                ...
104    2997                                             {Tuna}
105    2998                                           {Burger}
106    2999   {Kabab, Cheese, Soup, Fries, Cocacola, Sausages}
107    3006                                         {Sausages}
108    3007  {Fish, Chicken, Burger, Fries, Nuggets, Cocacola}

[109 rows x 2 columns]

In [5]:
from mlxtend.frequent_patterns import fpgrowth
from mlxtend.preprocessing import TransactionEncoder

# Convert the 'Itemname' column to a list of lists
transactions = result_df['Itemname'].apply(list).tolist()

# Use TransactionEncoder to one-hot encode the transaction data
te = TransactionEncoder()
te_ary = te.fit(transactions).transform(transactions)

# Convert the one-hot encoded array to a DataFrame
df_encoded = pd.DataFrame(te_ary, columns=te.columns_)

# Apply FP-Growth algorithm
frequent_itemsets = fpgrowth(df_encoded, min_support=0.2, use_colnames=True)

# Print the frequent item sets
print(frequent_itemsets)

    support                   itemsets
0  0.495413                   (Burger)
1  0.422018                 (Cocacola)
2  0.403670                    (Fries)
3  0.247706              (Thickburger)
4  0.321101         (Burger, Cocacola)
5  0.348624            (Fries, Burger)
6  0.321101          (Fries, Cocacola)
7  0.311927  (Fries, Burger, Cocacola)

In [6]:
from mlxtend.preprocessing import TransactionEncoder
from mlxtend.frequent_patterns import apriori, association_rules

# Assuming your dataset is stored in 'result_df'
transactions = result_df['Itemname'].tolist()

# Use TransactionEncoder to one-hot encode the transactions
te = TransactionEncoder()
te_ary = te.fit(transactions).transform(transactions)

# Convert the one-hot encoded transactions back to a DataFrame
df_encoded = pd.DataFrame(te_ary, columns=te.columns_)

# Apply Apriori algorithm
frequent_itemsets = apriori(df_encoded, min_support=0.3, use_colnames=True)

# Generate association rules
rules = association_rules(frequent_itemsets, metric="confidence", min_threshold=0.7)

# Print the results
print("Frequent Itemsets:")
print(frequent_itemsets)
print("\nAssociation Rules:")
print(rules)

Frequent Itemsets:
    support                   itemsets
0  0.495413                   (Burger)
1  0.422018                 (Cocacola)
2  0.403670                    (Fries)
3  0.321101         (Burger, Cocacola)
4  0.348624            (Fries, Burger)
5  0.321101          (Fries, Cocacola)
6  0.311927  (Fries, Burger, Cocacola)

Association Rules:
          antecedents         consequents  antecedent support  \
0          (Cocacola)            (Burger)            0.422018
1             (Fries)            (Burger)            0.403670
2            (Burger)             (Fries)            0.495413
3             (Fries)          (Cocacola)            0.403670
4          (Cocacola)             (Fries)            0.422018
5     (Fries, Burger)          (Cocacola)            0.348624
6   (Fries, Cocacola)            (Burger)            0.321101
7  (Burger, Cocacola)             (Fries)            0.321101
8             (Fries)  (Burger, Cocacola)            0.403670
9          (Cocacola)     (Fries, Burger)            0.422018

   consequent support   support  confidence      lift  leverage  conviction  \
0            0.495413  0.321101    0.760870  1.535829  0.112028    2.110092
1            0.495413  0.348624    0.863636  1.743266  0.148641    3.700306
2            0.403670  0.348624    0.703704  1.743266  0.148641    2.012615
3            0.422018  0.321101    0.795455  1.884881  0.150745    2.825688
4            0.403670  0.321101    0.760870  1.884881  0.150745    2.493745
5            0.422018  0.311927    0.894737  2.120137  0.164801    5.490826
6            0.495413  0.311927    0.971429  1.960847  0.152849   17.660550
7            0.403670  0.311927    0.971429  2.406494  0.182308   20.871560
8            0.321101  0.311927    0.772727  2.406494  0.182308    2.987156
9            0.348624  0.311927    0.739130  2.120137  0.164801    2.496942

   zhangs_metric
0       0.603628
1       0.714980
2       0.844976
3       0.787253
4       0.812245
5       0.811102
6       0.721781
7       0.860890
8       0.980090
9       0.914099

In [7]:
import pandas as pd
from sklearn.cluster import KMeans
from sklearn.preprocessing import MultiLabelBinarizer

# Assuming your dataset is stored in 'result_df'
sequences = result_df['Itemname'].tolist()

# Use MultiLabelBinarizer to create a binary matrix
mlb = MultiLabelBinarizer()
binary_matrix = pd.DataFrame(mlb.fit_transform(sequences), columns=mlb.classes_)

# Apply K-Means clustering
kmeans = KMeans(n_clusters=3, random_state=42)
cluster_labels = kmeans.fit_predict(binary_matrix)

# Add cluster labels to the original dataset
result_df['Cluster'] = cluster_labels

# Print the results
print("Clustered Dataset:")
print(result_df)

C:\Users\PRITOM\AppData\Roaming\jupyterlab-desktop\jlab_server\lib\site-packages\sklearn\cluster\_kmeans.py:1416: FutureWarning: The default value of `n_init` will change from 10 to 'auto' in 1.4. Set the value of `n_init` explicitly to suppress the warning
  super()._check_params_vs_input(X, default_n_init=10)

Clustered Dataset:
     BillNo                                           Itemname  Cluster
0      2515  {Burger, Pizza, Fries, Chowmein, Nuggets, Coca...        2
1      2523  {Chicken, Burger, Beer, Fries, Nuggets, Cocacola}        2
2      2532    {Chicken, Burger, Pizza, Soup, Fries, Cocacola}        2
3      2545  {Fish, Fried_Rice, Kabab, Tuna, Burger, Pizza,...        0
4      2563  {Fried_Rice, Tuna, Burger, Pizza, Fries, Chowm...        2
..      ...                                                ...      ...
104    2997                                             {Tuna}        1
105    2998                                           {Burger}        1
106    2999   {Kabab, Cheese, Soup, Fries, Cocacola, Sausages}        0
107    3006                                         {Sausages}        1
108    3007  {Fish, Chicken, Burger, Fries, Nuggets, Cocacola}        2

[109 rows x 3 columns]

C:\Users\PRITOM\AppData\Roaming\jupyterlab-desktop\jlab_server\lib\site-packages\sklearn\cluster\_kmeans.py:1440: UserWarning: KMeans is known to have a memory leak on Windows with MKL, when there are less chunks than available threads. You can avoid it by setting the environment variable OMP_NUM_THREADS=1.
  warnings.warn(